<%= render :partial => 'links' %>
<h3> Change the password of <font color="red" > <%= @user.username %> </font> </h3>

<table> 

<% form_tag :action => :update_password, :id => @user.id  do %>
	<tr>
		<td> Username </td> <td> : </td>  <td> <%= @user.username %> </td>
	</tr>
	<tr>
		<td> New Password </td> <td> : </td>  <td> <%= password_field 'password', 'p1', :size => "20" %> </td>
	</tr>
	
	<tr>
		<td> Re-type New Password </td> <td> : </td>  <td> <%= password_field 'password', 'p2', :size => "20" %> </td>
	</tr>
	<tr>
		<td> <%= submit_tag "Change Password" %> </td>
	</tr>
<% end %>
</table> 
